.container {
  @apply bg-crosstrack-gray-300 text-crosstrack-gray-200;
  display: flex;
  position: relative;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.12),
    inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  order: 0;
  flex-grow: 0;

  // Empty workout exercise
  .add-new-workout-exercise {
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    column-gap: 0.7rem;
    transition: color 0.25s;
    padding: 7px 12px;
    width: 100%;
    &:hover {
      @apply text-crosstrack-gray-100;
    }
  }

  .exercise-container {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    width: 100%;

    // Col 1
    .modality-indicator {
      display: flex;
      align-self: center;
      flex-shrink: 0;
      height: 80%;
      width: 6px;
      filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.4));
      border-radius: 10px;
      &.gymnastic {
        @apply bg-crosstrack-gymnastic;
      }
      &.weightlifting {
        @apply bg-crosstrack-weightlifting;
      }
      &.cardio {
        @apply bg-crosstrack-cardio;
      }
    }

    // Col 2
    .workout-exercise {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 5px 0 8px;
      .title {
        @apply text-crosstrack-gray-100;
        font-size: 14px;
      }
      .description {
        font-size: 12px;
      }
    }

    // Col 3
    .menu-and-equipment {
      // position: absolute;
      // right: 5px;
      // top: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .equipment {
        height: 32px;
      }
    }
  }
}
