@import "./colors.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@layer components {
  .tooltip {
    &.tooltip-gymnastic {
      --tooltip-color: var(--gymnastic-color);
    }
    &.tooltip-cardio {
      --tooltip-color: var(--cardio-color);
    }
    &.tooltip-weightlifting {
      --tooltip-color: var(--weightlifting-color);
    }
    &::before {
      z-index: 100;
    }
  }
  .icon {
    &.icon-gymnastic {
      @apply text-crosstrack-gymnastic;
    }
    &.icon-cardio {
      @apply text-crosstrack-cardio;
    }
    &.icon-weightlifting {
      @apply text-crosstrack-weightlifting;
    }
  }
  .badge {
    &.badge-gymnastic {
      @apply bg-crosstrack-gymnastic;
    }
    &.badge-cardio {
      @apply bg-crosstrack-cardio;
    }
    &.badge-weightlifting {
      @apply bg-crosstrack-weightlifting;
    }
  }

  .skeleton {
    .icon {
      @apply bg-gray-400 w-8 h-8 animate-pulse text-opacity-0 rounded-3xl;
    }
    .badge {
      @apply bg-gray-400 w-8 h-8 animate-pulse text-opacity-0 rounded-3xl;
    }
    p {
      @apply bg-gray-400 animate-pulse text-gray-100 text-opacity-0 rounded-3xl h-full;
    }
  }
}
