.card {
  @apply bg-base-200;
  position: relative;
  padding: 30px;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  min-width: 320px;
  height: 130px;
  transition: box-shadow 0.3s, border 0.3s;
  &:hover {
    box-shadow: none;
  }

  @screen light-mode {
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.1);
  }

  .used-in-workout {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 28px;
    height: 28px;
    font-size: 12px;
  }

  .status-icons {
    @apply gap-x-1;
    position: absolute;
    display: flex;
    justify-items: flex-end;
    top: 12px;
    right: 12px;
    @screen light-mode {
      color: black;
    }
  }

  .information {
    @apply gap-y-2;
    display: flex;
    flex-direction: column;

    .name {
      @apply text-base-content;
      text-transform: capitalize;
      max-width: 240px;
      margin: 0;
      font-weight: 900;
      font-size: 1rem;
    }

    .modality {
      @apply gap-x-3;
      display: flex;

      .text {
        @apply text-base-content text-opacity-40;
        text-transform: lowercase;
        font-size: 1rem;
        font-weight: 600;
        &::first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
  .equipment-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

// @screen sm {
//   .card {
//     width: 340px;
//   }
// }
