.container {
  @apply text-crosstrack-gray-200;
  position: relative;
  width: 320px;

  &.is-editing {
    @apply z-30;
    .background {
      padding-top: 32px;
    }
  }

  &.is-new-workout {
    position: absolute;
    left: calc(50% - 160px);
    top: 100px;
    padding-bottom: 100px;
    // /* bring your own prefixes */
  }

  .background {
    @apply bg-base-200;
    display: flex;
    flex-direction: column;
    padding: 32px 20px 24px;
    border-radius: 16px;
    row-gap: 0.8rem;
  }

  .menu {
    display: flex;
    position: absolute;
    right: 12px;
    top: 12px;
    height: 28px;

    svg {
      @apply fill-current text-crosstrack-gray-200;
      cursor: pointer;
      width: 100%;
      height: 100%;
      &.stroked {
        path {
          @apply stroke-current text-crosstrack-gray-200;
        }
      }
    }
  }

  // row 1
  .title-and-avatar {
    @apply text-gray-300;
    display: flex;
    align-items: center;
    font-size: 21px;
    column-gap: 0.9rem;
  }

  // row 2
  .informations {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    .modality-chart {
      margin-left: 8px;
      margin-right: 23px;
      width: 32px;
      height: 32px;
    }

    .items {
      display: flex;
      flex-direction: column;
      row-gap: 3px;

      .item {
        display: flex;
        align-items: center;
        column-gap: 5px;

        svg {
          width: 22px;
        }
      }
    }
  }

  // row 3
  .comments {
    font-size: 0.85rem;
  }

  // row 4
  .last-result {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    svg {
      width: 24px;
    }
  }

  // separator from header to element
  .separator {
    background-color: #3c3e46;
    margin: 12px 0;
    width: 100%;
    height: 1px;
  }
}

// Add new element
.new-element {
  .line {
    height: 20px;
    width: 0;
    margin: 0 auto;
    border: 1px dashed #949494;
  }
  .element {
    @apply bg-base-200 text-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    display: flex;
    padding: 12px;
    border-radius: 16px;
    transition: box-shadow 0.15s;
    &.new {
      padding: 24px 14px;
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
      width: 135px;
      cursor: pointer;
      &:active {
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
